<md-toolbar class="md-warn">
    <h1 class="md-toolbar-tools">
        Menu
    </h1>
</md-toolbar>
<md-content layout-padding>
    <div layout="row">
        <md-button
            ng-click="main.goToPage()" 
            class="md-primary">
                Zum Ihren Immobilie
        </md-button>
    </div>

    <div layout="row">
        <md-button 
            ng-click="main.closeSidenav()" 
            class="md-primary">
                Menu schliessen
        </md-button>
    </div>
    
</md-content>